name: socket-proxy

services:
  socket-proxy:
    image: ghcr.io/tecnativa/docker-socket-proxy:0.1.5
    container_name: socket-proxy
    restart: unless-stopped
    env_file:
      - ./.env
      - ../../.env
    user: root
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    read_only: true
    tmpfs:
      - /run
      - /tmp
    environment:
      LOG_LEVEL: info
      CONTAINERS: 1
      SERVICES: 1
      NETWORKS: 1
      TASKS: 1
      EVENTS: 1
      PING: 1
      SYSTEM: 0
      VOLUMES: 0
      IMAGES: 0
      INFO: 0
      AUTH: 0
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      socket_proxy:
        ipv4_address: ${SOCKET_PROXY_IPV4:-}
    healthcheck:
      test:
        - CMD
        - wget
        - --spider
        - --quiet
        - http://127.0.0.1:2375/_ping
      interval: 30s
      timeout: 5s
      retries: 3
    logging:
      driver: json-file
      options:
        max-size: 5m
        max-file: '3'
networks:
  socket_proxy:
    external: true
