global:
  checkNewVersion: true
  sendAnonymousUsage: false

api:
  dashboard: true
  insecure: false

ping:
  entryPoint: traefik

entryPoints:
  websecure:
    address: ":443"
    forwardedHeaders:
      trustedIPs:
        - 173.245.48.0/20
        - 103.21.244.0/22
        - 103.22.200.0/22
        - 103.31.4.0/22
        - 141.101.64.0/18
        - 108.162.192.0/18
        - 190.93.240.0/20
        - 188.114.96.0/20
        - 197.234.240.0/22
        - 198.41.128.0/17
        - 162.158.0.0/15
        - 104.16.0.0/13
        - 104.24.0.0/14
        - 172.64.0.0/13
        - 131.0.72.0/22
        - 10.0.0.0/8
        - 172.16.0.0/12
        - 192.168.0.0/16
        - 127.0.0.1/32
        - ::1/128
    http:
      tls:
        certResolver: cloudflare-dns
        options: default@file
        domains:
          - main: '{{ env "TRAEFIK_PRIMARY_DOMAIN" }}'
            sans:
              - '*.{{ env "TRAEFIK_PRIMARY_DOMAIN" }}'
    http3:
      advertisedPort: 443
  traefik:
    address: ":8080"
    forwardedHeaders:
      trustedIPs:
        - 10.0.0.0/8
        - 172.16.0.0/12
        - 192.168.0.0/16
        - 127.0.0.1/32
        - ::1/128
  metrics:
    address: ":9100"

providers:
  docker:
    endpoint: tcp://socket-proxy:2375
    exposedByDefault: false
    useBindPortIP: true
    network: t3_proxy
  file:
    directory: /etc/traefik/dynamic
    watch: true

certificatesResolvers:
  cloudflare-dns:
    acme:
      email: '{{ env "ACME_ACCOUNT_EMAIL" }}'
      caServer: '{{ env "ACME_CA_SERVER" }}'
      storage: /acme/acme.json
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - 1.1.1.1:53
          - 1.0.0.1:53
        delayBeforeCheck: 60

log:
  level: INFO
  filePath: /var/log/traefik/traefik.log

accessLog:
  filePath: /var/log/traefik/access.log
  format: json
  bufferingSize: 100
  filters:
    statusCodes:
      - 200-299
      - 400-499
      - 500-599
    retryAttempts: true
    minDuration: 10ms

experimental:
  http3: true
  plugins:
    crowdsec-bouncer:
      moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
      version: v1.2.4
  pprof:
    address: ":6060"

{{- with env "OTLP_GRPC_ENDPOINT" }}
tracing:
  openTelemetry:
    address: '{{ . }}'
    grpc: true
    insecure: true
    serviceName: traefik-proxy
{{- end }}

metrics:
  prometheus:
    entryPoint: metrics
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true
    buckets:
      - 0.1
      - 0.3
      - 1.2
      - 5.0
